<!-- Aqui o suário deverá escolher a placa do veiculo que deseja ver a rota-->
<form (ngSubmit)="escolherPlaca()">
  <div>
    <mat-form-field class="selecionar">
      <mat-label>Escolha a Placa:</mat-label>
      <mat-select matNativeControl required [(value)]="placa">
        <mat-option
          *ngFor="let localizacao of localizacoes"
          [value]="localizacao.stop_points.crs.properties.name"
        >
          {{ localizacao.stop_points.crs.properties.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button type="submit" class="btn" mat-raised-button color="primary">
      OK
    </button>
  </div>
</form>
